.about-container {
    display: flex;
    text-align: center;
    margin: 3rem;
    justify-content: center;
    flex-direction: column;
}

.brief-introduction {
    padding: 3rem;
    background-color: #816045;
    color: #ededed;
    border-radius: 3rem;
}

.brief-introduction > p {
    font-size: 2vw;
    line-height: 100%;
}

.brief-introduction > p > span {
    font-style: italic;
}

.education {
    margin-top: 5rem;
    text-align: left;
}

.education > h1 {
    font-size: 2vw;
}

.school-date {
    display: flex;
    justify-content: space-between;
}

.education > p {
    font-size: 1.5vw;
    margin: 0;
}