.mast-container {
    max-width: 1200px;
    /* display: flex; */
    flex-direction: row;

    justify-content: center;
    /* align-items: center; */

    /* grid-gap: 4rem; */
}
    
.mast-left {
    max-width: 25rem;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    display: flex;
    
    height: 100vh;
    position: fixed;
    left: 0;
    padding-left: calc((100% - 1200px)/2);
    padding-top: 155px;
}
    
.mast-right {
    max-width: calc(100% - 30rem);
    flex-direction: column;
    justify-content: flex-start;
    display: flex;
    position: relative;
    
    /* height: 100vh; */
    /* width: 100%; */
    padding: 155px 0rem;
    float: right;
}
    
.preview-vid {
    width: 90vw;
    max-width: 25rem;
    border-radius: 1rem;
}

.container:not(:first-child) {
    padding-top: 5vh;
}

.description, .experience {
    font-size: 0.9rem;
}
    
.description {
    color: var(--secondary-text);
}

.about-title, .xp-title, .works-title {
    text-transform: uppercase;
}

.skills-dev {
    padding-top: 2rem;
}

.skills, .dev {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    grid-gap: 1rem;
}

.skills > *, .dev > * {
    background-color: var(--tertiary-text);
    padding: 0.25rem;
    border-radius: 0.5rem;
}

.xp-company {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.experience {
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}

.xp-details {
    grid-column: span 3;
}

.xp-details > .description, .stack {
    padding-top: 1rem;
}

.xp-duration {
    text-align: right;
}

.xp-duration, .stack {
    color: var(--tertiary-text);
}

.link:hover {
    text-decoration: underline;
}

@media screen and (max-width: 1320px) {
    .mast-left {
        padding-left: 4rem;
    }
}

@media screen and (max-width: 1200px) {
    .mast-container {
        max-width: 90vw;
    }
}

@media screen and (max-width: 1000px) {
    .mast-left, .preview-vid {
        max-width: calc(25rem - 10vw);
    }

    .mast-left {
        justify-content: normal;
        padding-top: 8rem;
    }
    
    .mast-right {
        padding-top: 8rem;
        max-width: calc(100% - (25rem - 10vw) - 4rem)
    }
}

@media screen and (max-width: 768px) {
    .mast-container {
        max-width: 90vw;
        display: flex;
        flex-direction: column;
    
        justify-content: center;
        align-items: center;
        grid-gap: 0rem;
    }
    
    .mast-left {
        max-width: 25rem;
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: flex;
        
        position: static;
        padding: 0rem;
    }
    
    .preview-vid {
        width: 90vw;
        max-width: 25rem;
        border-radius: 1rem;
    }
    
    .mast-right {
        max-width: 25rem;
        flex-direction: column;
        justify-content: center;
        display: flex;
        height: auto;

        width: 100%;
        padding: 0;
        float: none;
        left: 0;
    }

    .container:first-child {
        padding-top: 5vh;
    }
}