.mast-container {
    display: flex;
    min-height: 100vh;
    max-width: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-items: center;
    grid-column-gap: 3rem;
}

.mast-left {
    display: flex;
    max-width: 48vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-column-gap: 1rem;
}

.upper-button-container {
    display: flex;
    flex-direction: row;
}

.mast-video {
    width: 15vw;
    border-radius: 2rem;
    margin: 0 7rem 0 5rem;
    transform: translate(2rem, -1rem) rotateZ(3deg);
    transition: all 0.2s ease-in-out;
}

.mast-video:hover {
    transform: translate(2rem, -1rem) scale(1.1);
}

.mast-greet {
    z-index: 1;
    overflow: hidden;
    width: 3vw;
    height: 5vw;
    background-color: #d9b894;
    display: flex;
    padding: 10px 20px;
    align-items: center;
    border-radius: 2rem;
    transform: translate(-8rem, 4rem) rotateZ(-14deg) scale(1.5);
    transition: all .2s ease-in-out;
}

.mast-greet > h1 {
    line-height: 100%;
}

.mast-greet:hover {
    transform: translate(-8rem, 4rem) rotateZ(-10deg) scale(1.6);
}

.mast-socmed {
}

.linkedin {
    overflow: hidden;
    width: 2vw;
    height: 2vw;
    display: flex;
    padding: 10px 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    line-height: 100%;
    background-color: #82bae8;
    transform: translate(10rem, -2rem) rotateZ(4deg) scale(1.5);
    transition: all .2s ease-in-out;
}

.linkedin:hover {
    transform: translate(10rem, -2rem) rotateZ(-1deg) scale(1.6);
}

.github {
    overflow: hidden;
    width: 2vw;
    height: 2vw;
    display: flex;
    padding: 10px 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    line-height: 100%;
    background-color: #afa8aa;
    transform: translate(-10rem, -7rem) rotateZ(-5deg);
    transition: all .2s ease-in-out;
}

.github:hover {
    transform: translate(-10rem, -7rem) rotateZ(-1deg) scale(1.1);
}

.email {
    z-index: 1;
    overflow: hidden;
    width: 2vw;
    height: 2vw;
    display: flex;
    padding: 10px 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    line-height: 100%;
    background-color: #e6c14e;
    transform: translate(8rem, 4rem) rotateZ(8deg);
    transition: all .2s ease-in-out;
}

.email:hover {
    transform: translate(8rem, 4rem) rotateZ(0deg) scale(1.1);
}

.mast-right {
    display: flex;
    flex-flow: column;
    justify-content: center;
    z-index: 1;
}

.mast-heading-container {
    display: flex;
    grid-column-gap: 3vw;
}

.mast-heading-container > h1 {
    font-size: 10vw;
    line-height: 100%;
}

.mast-heading-container:nth-child(2) > h1, .mast-heading-container:nth-child(3) > h1 {
    font-style: italic;
}

@media screen and (max-width: 450px) {
    .mast-container {
        flex-direction: column;
    }

    .mast-right {
        order: -1;
    }

    .mast-heading-container > h1 {
        font-size: 16vw;
    }

    .mast-left {

    }

    .mast-video {
        width: 70vw;
        border-radius: 3rem;
    }

    .mast-greet {
        width: 21vw;
        height: 14vw;
        align-items: center;
        border-radius: 2rem;
        transform: translate(8rem, 2rem) rotateZ(-10deg);
    }

    .mast-greet > h1{
        font-size: 5vw;
    }

    .mast-tagline {
        display: none;
    }
}
