@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

:root {
  --foreground: #e4e4e4;
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  background: 
	linear-gradient(108deg, rgba(41, 14, 0, 0.925), rgba(43,21,0,0.79)),
	url("data:image/svg+xml,%3Csvg viewBox='0 0 287 287' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='5.12' numOctaves='5' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E"); 
}

#grainy-background {
  filter: contrast(600%) brightness(100%);
  background: 
	linear-gradient(108deg, rgba(41, 14, 0, 0.925), rgba(43,21,0,0.79)),
  radial-gradient(500px at var(--mouse-x) var(--mouse-y), rgba(255, 255, 255, 0.6), rgba(0, 0, 0, 0.6)),
	url("data:image/svg+xml,%3Csvg viewBox='0 0 287 287' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='5.12' numOctaves='5' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E"); 
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
