@font-face {
  font-family: "Humane";
  src: url("../public/fonts/Humane-Regular.otf");
  color: rgb(236, 236, 236);
}

@font-face {
  font-family: "FoundersGrotesk";
  src: url("../public/fonts/FoundersGrotesk-Regular.otf");
  color: rgb(236, 236, 236);
}

#root {
  margin: 5rem;
} 

html {
  min-height: 90vh;
  min-height: 90svh;
  /* margin: 2rem 0; */
  /* overflow: hidden; */
}

body {
  font-family: FoundersGrotesk;
  background-color:rgb(33, 33, 33);
  /* overflow: hidden; */
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  min-height: 80svh
}

h1, h2, h3 {
  font-family: Humane;
  font-weight: normal;
  font-size: 20vh;
  margin: 0 1rem;
}

p {
  font-family: FoundersGrotesk;
  font-size: 10vw;
  margin: 1rem 1rem 0.5rem;
}

@media (max-width: 425px) {
  .main > h1 {
    font-size: 25vw;
    white-space: nowrap;
  }
}

@media only screen and (max-width: 768px) {
  h1, h2, h3 {
    font-size: 30vmin;
  }
  
  p {
      font-size: 5vmin;
  }
}

@media (max-width: 1299px) {
  .web.bubble-links {
    display: none;
  }

  .mobile.bubble-links {
    display: block;
  }
}

@media (min-width: 1300px) {
  .mobile.bubble-links{
    display: none;
  }

  .web {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-row: span 2;
  }

  .main > .web > h1 {
    font-size: 35vmin;
  }

  #landing > .main {
    /* margin: 20% 0; */
    display: grid;
    grid-template-columns: repeat(2, auto);
    /* grid-template-rows: repeat(3, auto); */
  }

  .main > .card-links {
    /* background: red !important; */
    grid-column-start: 2;
    grid-row: span 2;
    /* margin: 0 auto; */
  }

  .main > h1 {
    /* background: red !important; */
    /* justify-content: center; */
    /* grid-column-start: 1; */
    /* grid-row-start: 2; */
  }

  .main > .web.bubble-links {
    /* background: blue !important; */
    /* display: block; */
  }
}

/* 
.marble {
  position: fixed;
  z-index: 99;
} */

